/* ################# utility class ################ */

.w3-codespan {
font-size: 105%;
    background-color: rgba(222,222,222,0.3);
}
.w3-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%;
}
.w3-code, .w3-codespan {
    font-family: Consolas,"courier new";
    font-size: 16px;
}
code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}
code {
    font-family: monospace;
}

#main {
    padding: 16px 32px 32px 32px;
    border-right: 1px solid #f1f1f1;
}
#main {
    padding: 16px;
}
.w3-main, #main {
    transition: margin-left .4s;
}
@media (min-width: 601px){
.w3-col.m12 {
    width: 99.99999%;
}
}
.w3-col {
    float: left;
    width: 100%;
}

div {
    display: block;
}

/* ############## h2 styling ############ */
h2 {
    font-size: 32px;
}
h2 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
h2 {
    font-size: 30px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 15px;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

table.w3-table-all {
    margin: 20px 0;
}
.w3-table-all {
    margin: 1px solid #ccc;
}
.w3-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}



table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}



tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.w3-table-all tr:nth-child(odd) {
    background-color: #fff;
}
.w3-bordered tr, .w3-table-all tr {
    border-bottom: 1px solid #ddd;
}



tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}


.w3-table-all th:first-child, .w3-table-all td:first-child {
    padding-left: 16px;
}
.w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.w3-table-all td:first-child {
    padding-left: 16px;
}
.w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}


td {
    display: table-cell;
    vertical-align: inherit;
}

html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

